h1{
	font-family: 'Montserrat', sans-serif;
	font-size: 3rem;
	font-weight: bolder;
	line-height: 1.5;
}

h2{
	font-size: 3rem;
	line-height: 1.5;
	font-family: 'Montserrat', sans-serif;
}

body{
	font-family: 'Montserrat', sans-serif;
}

p{
	color: #8f8f8f;
	font-family: 'Montserrat', sans-serif;
}

/*Navigation bar*/

.navbar{
	padding: 0 0 4.5rem;
}

.navbar-brand{
	font-family: "Ubuntu";
	font-size: 2.5rem;
	font-weight: bold;
}


.nav-item{
	padding: 0 18px;
}

.nav-link{
	font-size: 1.2rem;
}

/*Download Button*/

.download-button{
	margin: 5% 3% 5% 0;
}


/*Title Section*/


#title{
	background-color: #ff4c68;
	color:#fff;
	position: relative;
}

.container-fluid{
	padding: 3% 15% 7%;
}
.title-image{
	width: 60%;
	position: absolute;
	transform: rotate(25deg);
	right: 25%;
}

@media (max-width:1028px) {

	.nav-link{
		padding-top: 2%;
		text-align: right;
	}

	#title{
		text-align: center;
	}

	.title-image{
		padding: 10% 0;
		position: static;
		transform: rotate(0);
	}
}

/*Middle-section*/

#features{
	position: relative;
	z-index: 1;
	background-color: #fff;
	padding: 7% 15%;
}

.middle-image{
	color: #ef8172;
	font-size: 4rem;
	margin-bottom: 1rem;
}

.middle-image:hover{
	color: #ff4c68;
}

.col-lg-4{
	text-align: center;
	padding: 5%; 
}

.middle-para{
	font-family: 'Montserrat';
	color: #8f8f8f;
}


/*Testimonials*/

#testimonials{
	
	text-align: center;
	background-color: #ef8172;
	color: #fff;
}


.testimonial-image{
	border-radius: 100%;
	width: 20%;
	margin: 20px;
}


.carousel-item{
	padding: 7% 15%;
}

/*Press*/


#press{
	background-color: #ef8172;
	text-align: center;
	padding-bottom: 3%;
}


.press-image{
	width:15%;
	margin:20px 20px 50px;
}


/*Pricing*/

#pricing{
	padding:100px;
	text-align: center;
}

.pricing-column {
	padding: 3% 2%;
}



/*Footer Section*/

#cta{
	background-color: #ff4c68;
	padding: 7% 20%; 
	text-align: center;
	font-weight: bold;
	color: #fff;
}


#footer{
	background-color: #fff;
	text-align: center;
	font-weight: bold;
	padding: 5% 0 1%;
}

.footer-icon{
	padding: 0 1%;
}

.footer{
	padding: 2%;
}